language: python

os: linux
sudo: required
dist: trusty
python:
    - 2.7
    - 3.5
env:
    - CXX=g++
    - CXX=clang
matrix:
    include:
        - os: osx
          language: generic
          osx_image: xcode7.3
          python: 2.7
script: make test
