sudo: false
language: python
matrix:
    - os: linux
      python:
          - 2.7
          - 3.4
          - 3.5
          - 3.6
      compiler:
          - gcc
      sudo: required
      dist: trusty
    - os: osx
      language: generic
      osx_image: xcode7.3
      python:
          - 2.7
script: make test
