language: python

os: linux
sudo: required
dist: trusty
python:
    - 2.7
    - 3.4
    - 3.5
matrix:
    include:
        - os: osx
          language: generic
          osx_image: xcode7.3
          python: 2.7
        - os: linux
          sudo: required
          dist: trusty
          install: sudo make libinstall
          script: make libtest
          language: c++
install: pip install pytest
script: make test
