language: python

os: linux
sudo: required
dist: trusty
python:
    - 2.7
    - 3.4
    - 3.5
matrix:
    include:
        - os: osx
          language: generic
          osx_image: xcode7.3
          python: 2.7
          install: pip install pytest
          script: make test
install:
    - pip install pytest
    - sudo make libinstall
script:
    - make test
    - make libtest
